* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* --------leftNav-------- */

.layout {
    display: flex;
}

.leftNav {
    border: 2px solid #e1e8ef;
    Width: 220px;
    Height: 521px;
    background-color: #fff;
    margin-top: 16px;
}

.leftNav-header {
    display: flex;
    width: 53px;
    height: 53px;
    margin-top: 32px;
}

.leftNav-header-icon {
    Width: 53px;
    Height: 53px;
    margin: 0 10px 0 26px;
}

.leftNav-text {
    Width: 101px;
    Height: 54px;
}

.leftNav-btn {
    margin-top: 18px;
    margin-left: 21px;
    width: 176px;
    height: 43px;
    background: #42a7c2;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.leftNav-select_list {
    margin-top: 26px;
}

.leftNav-select_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e1e8ef;
    width: 218px;
    height: 70px;
}

.leftNav-select_link {
    margin-left: 20px;
    font-size: 16px;
    line-height: 16px;
    width: 155px;
    text-decoration: none;
    list-style: none;
    color: #333;
}

.leftNav-select_icon {
    margin-right: 22px;
    width: 9px;
    height: 29px;
    color: #42a7c2;
}

.breadcrumbs {
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
}


/* Left Nav */

.nav__bars-btn {
    padding-left: 10px;
    width: 25px;
    height: 20px;
    margin-left: 8px;
    fill: #333333;
    display: none;
    z-index: 10;
}

.nav__overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 1;
    z-index: 10;
    /* all: chạy tất cả thuộc tính animation */
    transition: all linear 0.2s;
    /* transition: transform linear 0.2s, opacity linear 0.2s */
}

.nav__mobile-list {
    margin-top: 20px;
    list-style: none;
}

.nav__mobile-link {
    text-decoration: none;
    display: block;
    padding: 8px 0;
    width: 350px;
    font-size: 1.1rem;
}

.nav__mobile-close {
    font-size: 1.4rem;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 28px;
    height: 28px;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input {
    display: none;
}

.nav__input:checked~.nav__mobile {
    opacity: 1;
    transform: translateX(0);
}


/*  */


/* Body */

.body {
    margin-left: 50px;
    margin-top: 42px;
}


/*------ Header---------- */

.header {
    width: 931px;
    height: 127px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left_item {
    text-decoration: none;
    width: 43px;
    height: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    text-align: left;
    color: #7b7b7b;
}

.nav-home_icon {
    margin-right: 16px;
}

.nav-right {
    display: flex;
    width: 215px;
    height: 16px;
}

.nav-right_item1 {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    color: #7b7b7b;
    margin-right: 16px;
}

.nav-right_item2 {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    font-style: normal;
    color: #7b7b7b;
}

.nav-right_icon {
    margin-left: 12px;
    color: #afafaf;
}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    width: 930px;
    height: 90px;
    background: #eaf1f7;
    border-radius: 40px;
}

.search-text {
    width: 193px;
    height: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    color: #333333;
    margin-right: -150px;
}

.search-right {
    position: relative;
    display: flex;
    width: 533px;
    height: 50px;
}

.search-right_icon {
    position: absolute;
    display: inline-block;
    z-index: 1;
    top: 19px;
    left: 25px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    text-align: left;
    color: #afafaf;
}

.search-right_icon i {
    padding-right: 16px;
}

.search-right_input {
    width: 426px;
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: 25px;
    background: #ffffff;
}

.search-right_btn {
    width: 94px;
    height: 49px;
    border-radius: 10px;
    border: 1px solid transparent;
    background: #42a7c2;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #f8f9fa;
}


/* ---- Title Guide----- */

.title_guide {
    display: flex;
    margin-top: 42px;
    align-items: center;
}

.title_guide-img {
    width: 189.7px;
    height: 148.6px;
    margin-right: 20px;
}

.title_guide-h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    color: #42a7c2;
    margin-bottom: 32px;
}

.title_guide-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #333333;
}


/* ----Content-guide------ */

.content_guide {
    margin-top: 12px;
}

.button_3col_up {
    display: flex;
}

.button_3col_up-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
    height: 145px;
    border: 1px solid #42a7c2;
    border-radius: 10px;
    background: #ffffff;
    line-height: 30px;
    margin: 20px 20px 20px 0;
}

.button_3col_up-content {
    padding: 0 45px;
}

.button_3col_down {
    display: flex;
}

.button_3col_down-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 300px;
    height: 145px;
    border: 1px solid #42a7c2;
    border-radius: 10px;
    background: #ffffff;
    margin: 20px 20px 20px 0;
}

.button_3col_down-content {
    padding: 0 40px;
}


/* ---- Title Output----- */

.title_output {
    display: flex;
    margin-top: 52px;
    align-items: center;
}

.title_output-img {
    width: 122.1px;
    height: 137.4px;
    margin-right: 20px;
}

.title_output-h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    text-align: left;
    color: #42a7c2;
    margin-bottom: 32px;
}

.title_output-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    text-align: left;
    color: #333333;
}


/* --------Content Output---------- */

.content_output-line {
    position: relative;
    width: 940px;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42a7c2;
}

.content_output-line::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 214px;
    height: 3px;
    background: #42a7c2;
}

.content_output-line h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}

.content_output-line2 {
    position: relative;
    width: 940px;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42A7C2;
}

.content_output-line2::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 120px;
    height: 3px;
    background: #42a7c2;
}

.content_output-line2 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}

.content_output-line3 {
    position: relative;
    width: 940px;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42A7C2;
}

.content_output-line3::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 120px;
    height: 3px;
    background: #42a7c2;
}

.content_output-line3 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}


/* ----Button 4col----- */

.button_4col {
    display: flex;
}

.button_4col-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 220px;
    height: 160px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #eaf1f7;
    margin: 25px 20px 30px 0;
}

.button_4col-content {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    text-align: center;
    color: #42a7c2;
}


/* ------------Title Function-------------- */

.title_function {
    display: flex;
    margin-top: 42px;
    align-items: center;
}

.title_function-img {
    width: 189.7px;
    height: 148.6px;
    margin-right: 20px;
}

.title_function-h3 {
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    color: #42a7c2;
    margin-bottom: 32px;
}

.title_function-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: #333333;
}


/* -------Content Function-------- */

.content_function-line {
    position: relative;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42A7C2;
    width: 458px;
}

.content_function-line::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 60px;
    height: 3px;
    background: #42a7c2;
}

.content_function-line h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}


/* ---------------- */

.content_function-line4 {
    position: relative;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42A7C2;
    width: 458px;
}

.content_function-line4::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 160px;
    height: 3px;
    background: #42a7c2;
}

.content_function-line4 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}


/* ---------------- */

.content_function-line5 {
    position: relative;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42A7C2;
    width: 458px;
}

.content_function-line5::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 80px;
    height: 3px;
    background: #42a7c2;
}

.content_function-line5 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}


/* ---------------- */

.content_function-line6 {
    position: relative;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42A7C2;
    width: 458px;
}

.content_function-line6::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 180px;
    height: 3px;
    background: #42a7c2;
}

.content_function-line6 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}


/* ---------------- */

.content_function-line7 {
    position: relative;
    float: left;
    height: 1px;
    margin: 30px 0px 54px 0px;
    opacity: 1;
    border: 1px solid #42A7C2;
    width: 458px;
}

.content_function-line7::before {
    content: "";
    position: absolute;
    left: -0.55px;
    width: 120px;
    height: 3px;
    background: #42a7c2;
}

.content_function-line7 h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left;
    color: #42a7c2;
    margin-top: 26px;
}


/* ---------------- */

.content_function-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    font-style: normal;
    color: #42a7c2;
    list-style: none;
}

.content_function-list {
    margin-bottom: -10px;
}


/* -------------subTitle-------------- */

.subtitle {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
}


/* Footer */

footer {
    margin-top: 150px;
    height: 75px;
}

.footer {
    float: right;
    width: 100%;
    height: 75px;
    background: #333;
}

.footer p {
    height: 12px;
    margin-right: 360px;
    margin-top: 32px;
    float: right;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.display {
    width: 500px;
    background-color: red;
}